<!doctype html>
<html lang="en">
  <head>
    <%= liquid_render "shared/head", metadata: site.metadata, title: page.data.title %>
  </head>
  <body class="<%= page.data.layout %> <%= page.data.page_class %>">
    <%= liquid_render "shared/navbar", metadata: site.metadata, page: page %>

    <main>
      <%= yield %>
    </main>

    <%= liquid_render "shared/footer", metadata: site.metadata %>
  </body>
</html>