<h1>New Article</h1>

<% if @article.errors && @article.errors.length > 0 %>
  <div class="errors">
    <ul>
      <% @article.errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_tag articles_path, method: :post do %>
  <p>
    <label>Title:</label>
    <input type="text" name="title" value="<%= @article.title || '' %>" required>
  </p>
  <p>
    <label>Body:</label>
    <textarea name="body" required><%= @article.body || '' %></textarea>
  </p>
  <button type="submit">Create Article</button>
<% end %>

<p><%= link_to "Back to Articles", articles_path %></p>
