<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<p class="meta">
  Created: <%= @article.created_at %><br>
  Updated: <%= @article.updated_at %>
</p>

<p>
  <%= link_to "Edit", edit_article_path(@article) %> |
  <%= link_to "Back to Articles", articles_path %> |
  <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %>
</p>

<hr>

<h2>Comments</h2>

<% @article.comments.each do |comment| %>
  <div class="comment">
    <p><strong><%= comment.commenter %></strong> says:</p>
    <p><%= comment.body %></p>
    <%= link_to "Delete Comment", comment_path(@article, comment), method: :delete, data: { confirm: "Delete this comment?" } %>
  </div>
<% end %>

<h3>Add a Comment</h3>

<%= form_tag comments_path(@article), method: :post do %>
  <p>
    <label>Your Name:</label>
    <input type="text" name="commenter" required>
  </p>
  <p>
    <label>Comment:</label>
    <textarea name="body" required></textarea>
  </p>
  <button type="submit">Add Comment</button>
<% end %>
