---
layout: layout.liquid
title: Home
---

<h2>Recent Posts</h2>

{% for post in site.posts %}
  {% unless post.draft %}
  <article>
    <h2><a href="/posts/{{ post.slug }}/">{{ post.title }}</a></h2>
    <time datetime="{{ post.date }}">{{ post.date | date: "%B %d, %Y" }}</time>
    <p class="excerpt">{{ post.excerpt }}</p>
    {% if post.tags %}
    <div class="tags">
      {% for tag in post.tags %}
        <span class="tag">{{ tag }}</span>
      {% endfor %}
    </div>
    {% endif %}
  </article>
  {% endunless %}
{% endfor %}
